includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/
        - bootstrap/
        - database/
        - routes/
    excludePaths:
        analyse:
            - app/Actions/Fortify
            - app/Providers/FortifyServiceProvider.php
            - config

    level: 1

    ignoreErrors:
        - '#Call to static method factory\(\) on an unknown class App\\Models\\Team#'